
/* Main Container for entire site */
.flexContainer {  
    display: grid;
    grid-template-columns: .2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.2fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.5fr 1.5fr 1fr 1fr 1fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . container container . . . . . ."
      ". . container container titleBanner titleBanner titleBanner titleBanner . ."
      ". . container container titleBanner titleBanner titleBanner titleBanner . ."
      ". . ScrollingTextBanner ScrollingTextBanner ScrollingTextBanner ScrollingTextBanner ScrollingTextBanner ScrollingTextBanner . ."
      ". advert advert shop shop shop shop advertVideo advertVideo ."
      ". advert advert shop shop shop shop advertVideo advertVideo ."
      ". advertNav advertNav shop shop shop shop advertVideoStatement advertVideoStatement ."
      ". footer footer footer footer footer footer footer footer ."
      ". . . . . . . . . .";
  }

 /* Header Navigation */ 
 html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    background: rgb(228,4,20);
    background: radial-gradient(circle, rgba(228,4,20,1) 0%, rgba(148,187,233,1) 100%);

  }
  
  .container {
    /*padding:150px;*/
    background: #2F2F31;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    }
  
  #navMenu {
    top: 150px;
    left: 200px;
    width: 140px;
    height: 140px;
    z-index: 100;
    background: linear-gradient(90deg, #80040c, #ca0a37, #680202);
    -webkit-background: linear-gradient(90deg, #80040c, #ca0a37, #680202);
    background-size: 400% 400%;
    -webkit-background-size: 400% 400%;
    animation: gradient 5s infinite;
    -webkit-animation: gradient 5s infinite;
  }
  
  #navMenu:hover, .nav:hover {
    background: #d10303;
  }
  
  @keyframes gradient {
    50% {
      background-position: 100% 0;
    }
  }
  @-webkit-keyframes gradient {
    50% {
      background-position: 100% 0;
    }
  }
  
  .diamond {
    position: absolute;
    width: 67.5px;
    height: 67.5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background: #c6b1b1;
    margin: 10px;
    cursor: pointer;
    box-shadow: 1px 4px 10px #101010;
  }
  
  .diamond:active {
    background: #9c1212;
    box-shadow: 0px 1px 2.5px #101010;
    transition: 0.1s;
    -webkit-transition: 0.1s;
  }
  
  .nav {
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  
  .nav1 {
    top: 86px;
    left: 287px;
  }
  
  .nav2 {
    top: 136px;
    left: 337px;
  }
  
  .nav3 {
    top: 186px;
    left: 387px;
    
  }
  
  .nav4 {
    top: 236px;
    left: 337px;
  }
  
  .nav5 {
    top: 286px;
    left: 287px;
  }
  
  .small {
    top: 186px;
    left: 236px;
    z-index: 10;
    background: #e12222;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  
  .rotCorrect {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 14px;
    margin-top: 8px;
  }
  
  #mainRotCorrect {
    margin-left: 26px;
    margin-top: 28px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    max-width: 90px;
  }
  
  i {
    color: #EEEEEE;
  }

  /* Scrolling Banner controls */
  .ScrollingTextBanner { 
    grid-area: ScrollingTextBanner;
    text-align: center;
    height: 64px;
    width: 75%;
    max-width:95%;
    white-space:nowrap;
    margin-bottom: 5px;
    border: 5px solid rgb(22, 22, 22);
    border-radius: 25px;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    color: white;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
    overflow: hidden;
    box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
/* Scrolling text banner animation */
#scroll-text {
  align-self: center;
  justify-self: center;
  text-align: center;
  margin: 0;

  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 20s linear infinite;
  -webkit-animation: my-animation 20s linear infinite;
  animation: my-animation 20s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/* Title Banner Controls */
.titleBanner {
  grid-area: titleBanner;
  max-width: 100%;
  justify-self: center;
  align-self: center;
}

#titleBanner {
  max-width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size:auto; /* Resize the background image to cover the entire container */
}

#mobileBanner {
  display: none;
}

.ScrollingTextBanner {
  grid-area: ScrollingTextBanner;
  flex: 1;
  margin-top: 20px;
}

.shop {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "shopArms shopGear shopPas"
    "shopArms shopGear shopPas"
    "faqs faqs faqs"; 
  grid-area: shop;
  flex: 1; 
}

.shopArms {
  grid-area: shopArms;
}

.shopGear {
  grid-area: shopGear;
}

.shopPas {
  grid-area: shopPas;
}

.registration {
  grid-area: registration;
}

.questions {
  grid-area: questions;
}

.advert {
  grid-area: advert;
}

.advertNav {
  grid-area: advertNav;
}

.advertCost {
  grid-area: advertCost;
}

.advertBuy {
  grid-area: advertBuy;
}

.advertVideo {
  grid-area: advertVideo;
}

.advertVideoStatement {
  grid-area: advertVideoStatement;
}

.footer {
  grid-area: footer;
}

 
  #homeImage {
    width: 100%;
    height: 100%;
    background-image: url("../images/homeNav.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:contain; /* Resize the background image to cover the entire container */
  }

  #homeImage a {
    color: transparent;
  }

  #homeImage a:hover {
    color: red;
    text-shadow: .09ex .09ex azure;
  }

  #weaponImage {
    background-image: url("../images/weaponImage.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:contain; /* Resize the background image to cover the entire container */
  }

  #gearImage a {
    color: transparent;
  }

  #gearImage a:hover {
    color: red;
    text-shadow: .09ex .09ex azure;
  }

  #gearImage {
    background-image: url("../images/gearNav.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:contain; /* Resize the background image to cover the entire container */
  }

  #weaponImage a {
    color: transparent;
  }

  #weaponImage a:hover {
    color: red;
    text-shadow: .09ex .09ex azure;
  }

  #paImage a {
    color: transparent;
  }

  #paImage a:hover {
    color: red;
    text-shadow: .09ex .09ex azure;
  }

  #paImage {
    background-image: url("../images/paNav.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:contain; /* Resize the background image to cover the entire container */
  }





