#topTitle {
    clear: left;
    float: left;
    height: 50px;
    width: 700px;
    margin-top: 10px;
}

#main_container {
    text-align: center;
    clear: left;
    float: left;
    width:700px;
    height: 600px;
    margin-top: 10px;
    background: aliceblue;
    flex-direction:column;
    padding-top: 30px;  
}

.highlight {
    color: rgb(10, 194, 71);
    padding: 5px;
}


.intro {
    /* Targeting for intro class */
    font-size: 20px;
    color: midnightblue;
    padding: 20px 60px;
    text-align: center;
}

.passion {
    /* Targeting for passion class */
    font-size: 20px;
    color: midnightblue;
    padding: 80px 60px;
    text-align: center;
}

.vision {
    /* Targeting for vision class */
    font-size: 20px;
    color: midnightblue;
    padding: 80px 60px;
    text-align: center;
}

.aboutNav {
    list-style: None;
    text-align:center;
}

.aboutNav li {
    display: inline-block;
    padding: 0px 10px;
}

.am {
    width: 700px;
}

.mp {
    width: 700px;
}

.mv {
    width: 700px;
}

.ms {
    width: 700px;
    margin:auto;
    display:flex;
    flex-direction:column;  
    align-items:center;
}

/* In-Page Menu */
/* aboutBody1 - About me */
.am
{
    display:none;
}

.mp
{
    display:none;
}

.mv
{
    display:none;
}

.ms
{
    display:none;
}

#box1:checked ~ .am
{
  display: block;
}

#box2:checked ~ .mp
{
  display: block;
}

#box3:checked ~ .mv
{
  display: block;
}

#box4:checked ~ .ms
{
  display: block;
}

.aboutNav label {
    position: relative;
    cursor: pointer;
    color: aqua;
}

.aboutNav label:hover {
    color: #12a4ed;
}

/*hide the radio circles*/
input[type="radio"] {
    left: -999em;
    position: absolute;
}

#msTable{
    display:inline-block;
    padding-top: 45px;
}

table {  
    font-family:sans-serif;
    justify-content: center;
}

th, td {
    padding:.25em .5em;
    text-align:left;
}
    
td {
    background-color:rgb(166, 239, 241);    
}
    
th {
      background-color:#009;
      color:#fff;
    }

span {
    color: rgb(17, 183, 183);
}
