/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* Flex formatting */
.flexContainer {
    display: flex;
    flex-direction: column;
}

/* Header Formatting */
#mainHeader {
    font-family: 'Audiowide', cursive, 'Times New Roman', Times, serif;
    color: azure;
    font-size: 4em;
    text-shadow: .1ex .1ex darkred;
}

#pageTitleH1 {
    margin: auto;
    font-family: 'Audiowide', cursive, 'Times New Roman', Times, serif;
    color: azure;
    font-size: 4em;
    text-shadow: .1ex .1ex darkred;
    -webkit-text-stroke: 1px black;
}

.flexNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    word-spacing: 25px;
}

.flexNav a {
    color: red;
    font-family: 'Audiowide', cursive, 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    text-shadow: .09ex .09ex azure;
}

#scrollingTextBanner {
    height: 32px;
    width:75%;
    margin: auto;
    border: 5px solid rgb(247, 243, 243);
    border-radius: 25px;
    justify-content: center;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
    overflow: hidden;
}

/* Scrolling text banner animation */
#scroll-text {
    padding-top: .3em;
    text-align: center;
    margin: 0;

    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 10s linear infinite;
    -webkit-animation: my-animation 10s linear infinite;
    animation: my-animation 10s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}

/* Shop area */
.mainBody {
    display: flex;
    justify-content: center;
    background:url("../images/mainBack.jpg");
    background-color: #070707; /* Used if the image is unavailable */
    height: 400px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border: solid 6px whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.shop {
    display: flex;
    flex-direction: row;
    align-items:center;
}

.shop a {
    text-decoration: none;
    color: whitesmoke;
}

.weaponTitle {
    display: none;
}

#weapons:hover .weaponTitle {
    display: block;
}

#weapons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 15px;
    margin-right: 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-image: url("../images/weaponMenu.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover; /* Resize the background image to cover the entire container */
}

.gearTitle {
    display: none;
}

#gear:hover .gearTitle {
    display: block;
}

#gear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 15px;
    margin-right: 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-image: url("../images/gearMenu.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover; /* Resize the background image to cover the entire container */}

.paTitle {
    display: none;
}
 
#personalAssistants:hover .paTitle {
    display: block;
}

#personalAssistants {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-image: url("../images/paMenu.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover; /* Resize the background image to cover the entire container */
}

footer {
    text-align: center;
}