/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: rgb(228,4,20);
    background: radial-gradient(circle, rgba(228,4,20,1) 0%, rgba(148,187,233,1) 100%);
  }

/* Flex formatting */
.flexContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 0.08 1.9fr 1fr;
    grid-template-areas: 
    "advert flexNav advert2"
    "advert scrollingTextBanner advert2"
    "advert mainBody advert3"
    "footer footer footer";
    gap: 5px 5px;
    align-content: top;
    width: 100%;
    max-width: 2200px;
    justify-content: center;
}

.blur   {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

/* Header Formatting */
#mainHeader {
    font-family: 'Audiowide', cursive, 'Times New Roman', Times, serif;
    color: azure;
    font-size: 4em;
    text-shadow: .1ex .1ex darkred;
}

.advert {
    grid-area: advert;
    margin-top: 3em;
    width: 500px;
    height: 615px;
    overflow: hidden;
    border: solid 3px black;
    box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.advert img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: cover;
}

.advert2 {
    grid-area: advert2;
    margin-top: 3em;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: 1;
    background-size: cover;
    overflow: hidden;
    box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.advert3 {
    grid-area: advert3;
    max-width: 520px;
    height: 300px;
    align-self: top;
    justify-content: center;
    border: solid 3px black;
    box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.advert2 img {
    width: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Main Navigation */

.flexNav {
    grid-area: flexNav;
    margin-top: 2em;
    height: 165px;
    width: 100%;
    place-self: center;
    display: grid;
    overflow:hidden;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "bannerArea bannerArea bannerArea bannerArea"
      "homeIcon armsIcon gearIcon paIcon";
}

.flexNav a {
    color: red;
    font-family: 'Audiowide', cursive, 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    z-index: 5;
}

.flexNav a:hover {
    -webkit-text-stroke: 1px black;
}

.bannerArea {
    height: 95px;
    grid-area: bannerArea;
    justify-self: center;
    align-self: center; 
}
  
.homeIcon { 
    grid-area: homeIcon;
    align-self: center;
    text-align: center; 
}
  
.armsIcon { 
    grid-area: armsIcon; 
    align-self: center;
    text-align: center; 
}
  
.gearIcon { 
    grid-area: gearIcon; 
    align-self: center;
    text-align: center; 
}
  
.paIcon { 
    grid-area: paIcon; 
    align-self: center;
    text-align: center; 
}

#bannerRow {

    align-self: center;
    justify-self: center;
    height: 100px;
}

#titleBanner {
    height: 75px;
    width:100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:auto; /* Resize the background image to cover the entire container */
}

#mobileBanner {
    display: none;
}

#homeImage {
    background-image: url("../images/homeNav.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:contain; /* Resize the background image to cover the entire container */
}

#homeImage a {
    color: transparent;
}

#homeImage a:hover {
    color: red;
    text-shadow: .09ex .09ex azure;
}

#weaponImage {
    background-image: url("../images/weaponImage.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:contain; /* Resize the background image to cover the entire container */
}

#gearImage a {
    color: transparent;
}

#gearImage a:hover {
    color: red;
    text-shadow: .09ex .09ex azure;
}

#gearImage {
    background-image: url("../images/gearNav.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:contain; /* Resize the background image to cover the entire container */
}

#weaponImage a {
    color: transparent;
}

#weaponImage a:hover {
    color: red;
    text-shadow: .09ex .09ex azure;
}

#paImage a {
    color: transparent;
}

#paImage a:hover {
    color: red;
    text-shadow: .09ex .09ex azure;
}

#paImage {
    background-image: url("../images/paNav.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:contain; /* Resize the background image to cover the entire container */
}

#scrollingTextBanner {
    grid-area: scrollingTextBanner;
    align-self: center;
    justify-self: center;
    text-align: center;
    height: 64px;
    width: 75%;
    max-width:600px;
    white-space:nowrap;
    margin-bottom: 5px;
    border: 5px solid rgb(22, 22, 22);
    border-radius: 25px;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    color: white;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
    overflow: hidden;
    box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* Scrolling text banner animation */
#scroll-text {
    padding-top: .4em;
    align-self: center;
    text-align: center;
    margin: 0;

    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 20s linear infinite;
    -webkit-animation: my-animation 20s linear infinite;
    animation: my-animation 20s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}

/* Shop area */
.mainBody {
    grid-area: mainBody;
    display: flex;
    justify-content: center;
    background:url("../images/mainBack.jpg");
    background-color: #070707; /* Used if the image is unavailable */
    height: 400px; /* You must set a specified height */
    width: 660px;
    overflow: hidden;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border: solid 3px black;
    box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.shop {  
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.9fr 0.2fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "arms gear pas"
      "registration registration registration"
      "faqs faqs faqs";
}

.shop a {
    text-decoration: none;
    color: whitesmoke;
}

.weaponTitle {
    display: none;
}

#weapons:hover .weaponTitle {
    display: block;
}

#weapons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 3px solid red;
    border-radius: 15px;
    margin-right: 1em;
    box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-image: url("../images/weaponMenu.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover; /* Resize the background image to cover the entire container */
}

.gearTitle {
    display: none;
}

#gear:hover .gearTitle {
    display: block;
}

#gear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 3px solid red;
    border-radius: 15px;
    margin-right: 1em;
    box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-image: url("../images/gearMenu.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover; /* Resize the background image to cover the entire container */}

.paTitle {
    display: none;
}
 
#personalAssistants:hover .paTitle {
    display: block;
}

#personalAssistants {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 3px solid red;
    border-radius: 15px;
    box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-image: url("../images/paMenu.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover; /* Resize the background image to cover the entire container */
}

.arms {
    justify-self: center;
    align-self: center;
    grid-area: arms;
}

.gear {
    justify-self: center;
    align-self: center;
    grid-area: gear;
}

.pas {
    justify-self: center;
    align-self: center;
    grid-area: pas;
}

.registration {
    justify-self: center;
    align-self: center;
    grid-area: registration;
}

.faqs {
    justify-self: center;
    align-self: center;
    grid-area: faqs;
}

.mainButtons {
    background-color: #070707;
    color: red;
    border: 3px solid red;
    border-radius: 15px;
    height: 30px;
    width: 150px;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.mainButtons:hover {
    background-color: red;
    color: black;
}

footer {
    grid-area: footer;
    text-align: center;
}

/* For mobile phones: */
@media (max-width: 280px) {
    .flexContainer {
        width: 230px;
        justify-content: center;
        align-items: center;
    }

    .flexNav {
        height: 180px;
        display: grid;
        overflow:hidden;
        width: 220px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
          "bannerArea bannerArea bannerArea bannerArea"
          "homeIcon armsIcon gearIcon paIcon";
        border: solid 3px black;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }
    
    #mainHeader {
      font-size: 36px;
    }

    #titleBanner {
        display: none;
    }

    #mobileBanner {
        display: block;
        width: 220px;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain; /* Resize the background image to cover the entire container */
    }

    /* Shop area */
    .mainBody {
        width: 220px;
        background:url("../images/mainBack.jpg");
        background-color: #070707; /* Used if the image is unavailable */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        border: solid 3px black;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    .shop {  
        display: grid;
        justify-items: center;
        align-items: center;
        height: 400px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 0.3fr 0.3fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "arms"
          "gear"
          "pas"
          "registration"
          "faqs";
      }
      
    .registration {
        justify-self: center;
        align-self: center;
        grid-area: registration;
    }
      
    .faqs {
        justify-self: center;
        align-self: center;
        grid-area: faqs;
    }
      
    .weaponTitle {
        display: none;
    }
    
    #weapons:hover .weaponTitle {
        display: block;
    }
    
    #weapons {
        grid-area: arms;
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border: 3px solid red;
        border-radius: 15px;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        background-image: url("../images/weaponMenu.jpg");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:cover; /* Resize the background image to cover the entire container */
    }
    
    .gearTitle {
        display: none;
    }
    
    #gear:hover .gearTitle {
        display: block;
    }
    
    #gear {
        grid-area: gear;
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border: 3px solid red;
        border-radius: 15px;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        background-image: url("../images/gearMenu.jpg");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:cover; /* Resize the background image to cover the entire container */}
    
    .paTitle {
        display: none;
    }
     
    #personalAssistants:hover .paTitle {
        display: block;
    }
    
    #personalAssistants {
        grid-area: pas;
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border: 3px solid red;
        border-radius: 15px;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        background-image: url("../images/paMenu.jpg");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:cover; /* Resize the background image to cover the entire container */
    }

    #scrollingTextBanner {
        height: 32px;
        width:75%;
        white-space:nowrap;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 5px solid rgb(22, 22, 22);
        border-radius: 25px;
        justify-content: center;
        color: white;
        text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
        overflow: hidden;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    #homeImage {
        background-image: url("../images/homeNav.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:contain; /* Resize the background image to cover the entire container */
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 48%;
    }
    
    #weaponImage {
        background-image: url("../images/weaponImage.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:contain; /* Resize the background image to cover the entire container */
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 48%;
    }
    
    #gearImage {
        background-image: url("../images/gearNav.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:contain; /* Resize the background image to cover the entire container */
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 48%;
    }
    
    #paImage {
        background-image: url("../images/paNav.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:contain; /* Resize the background image to cover the entire container */
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 48%;
    }
  }

  @media (min-width: 281px) and (max-width: 375px) {
    .flexContainer {
        width: 330px;
        justify-content: center;
        align-items: center;
    }

    .flexNav {
        height: 180px;
        display: grid;
        overflow:hidden;
        width: 320px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-row-gap: 0px;
        grid-template-areas:
          "bannerArea bannerArea bannerArea bannerArea"
          "homeIcon armsIcon gearIcon paIcon";
        border: solid 3px black;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }
    
    #mainHeader {
      font-size: 36px;
    }

    #titleBanner {
        display: none;
    }

    #mobileBanner {
        display: block;
        width: 320px;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain; /* Resize the background image to cover the entire container */
    }

    /* Shop area */
    .mainBody {
        width: 320px;
        background:url("../images/mainBack.jpg");
        background-color: #070707; /* Used if the image is unavailable */
        height: 600px; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        border: solid 3px black;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    .shop {  
        display: grid;
        justify-items: center;
        align-items: center;
        height: 400px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 0.3fr 0.3fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "arms"
          "gear"
          "pas"
          "registration"
          "faqs";
      }
      
    .registration {
        justify-self: center;
        align-self: center;
        grid-area: registration;
    }
      
    .faqs {
        justify-self: center;
        align-self: center;
        grid-area: faqs;
    }
      
    .weaponTitle {
        display: none;
    }
    
    #weapons:hover .weaponTitle {
        display: block;
    }
    
    #weapons {
        grid-area: arms;
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border: 3px solid red;
        border-radius: 15px;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        background-image: url("../images/weaponMenu.jpg");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:cover; /* Resize the background image to cover the entire container */
    }
    
    .gearTitle {
        display: none;
    }
    
    #gear:hover .gearTitle {
        display: block;
    }
    
    #gear {
        grid-area: gear;
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border: 3px solid red;
        border-radius: 15px;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        background-image: url("../images/gearMenu.jpg");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:cover; /* Resize the background image to cover the entire container */}
    
    .paTitle {
        display: none;
    }
     
    #personalAssistants:hover .paTitle {
        display: block;
    }
    
    #personalAssistants {
        grid-area: pas;
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border: 3px solid red;
        border-radius: 15px;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        background-image: url("../images/paMenu.jpg");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:cover; /* Resize the background image to cover the entire container */
    }
    
    #scrollingTextBanner {
        height: 32px;
        width:75%;
        white-space:nowrap;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 5px solid rgb(22, 22, 22);
        border-radius: 25px;
        justify-content: center;
        color: white;
        text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
        overflow: hidden;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    #homeImage {
        background-image: url("../images/homeNav.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:contain; /* Resize the background image to cover the entire container */
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 48%;
    }
    
    #weaponImage {
        background-image: url("../images/weaponImage.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:contain; /* Resize the background image to cover the entire container */
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 48%;
    }
    
    #gearImage {
        background-image: url("../images/gearNav.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:contain; /* Resize the background image to cover the entire container */
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 48%;
    }
    
    #paImage {
        background-image: url("../images/paNav.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:contain; /* Resize the background image to cover the entire container */
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 48%;
    }
  }

@media (min-width: 376px) and (max-width: 480px) {
    .flexContainer {
        width: 395px;
        justify-content: center;
        align-items: center;
    }

    .flexNav {
        height: 180px;
        display: grid;
        overflow:hidden;
        width: 385px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-row-gap: 30px;
        grid-template-areas:
          "bannerArea bannerArea bannerArea bannerArea"
          "homeIcon armsIcon gearIcon paIcon";
        border: solid 3px black;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }
    
    #mainHeader {
      font-size: 36px;
    }

    #titleBanner {
        display: none;
    }

    #mobileBanner {
        display: block;
        width: 385px;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain; /* Resize the background image to cover the entire container */
    }

    /* Shop area */
    .mainBody {
        width: 385px;
        background:url("../images/mainBack.jpg");
        background-color: #070707; /* Used if the image is unavailable */
        height: 700px; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        border: solid 3px black;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    .shop {  
        display: grid;
        justify-items: center;
        align-items: center;
        height: 600px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 0.3fr 0.3fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "arms"
          "gear"
          "pas"
          "registration"
          "faqs";
      }
      
    .registration {
        justify-self: center;
        align-self: center;
        grid-area: registration;
    }
      
    .faqs {
        justify-self: center;
        align-self: center;
        grid-area: faqs;
    }
      
    .weaponTitle {
        display: none;
    }
    
    #weapons:hover .weaponTitle {
        display: block;
    }
    
    #weapons {
        grid-area: arms;
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border: 3px solid red;
        border-radius: 15px;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        background-image: url("../images/weaponMenu.jpg");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:cover; /* Resize the background image to cover the entire container */
    }
    
    .gearTitle {
        display: none;
    }
    
    #gear:hover .gearTitle {
        display: block;
    }
    
    #gear {
        grid-area: gear;
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border: 3px solid red;
        border-radius: 15px;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        background-image: url("../images/gearMenu.jpg");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:cover; /* Resize the background image to cover the entire container */}
    
    .paTitle {
        display: none;
    }
     
    #personalAssistants:hover .paTitle {
        display: block;
    }
    
    #personalAssistants {
        grid-area: pas;
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border: 3px solid red;
        border-radius: 15px;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        background-image: url("../images/paMenu.jpg");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:cover; /* Resize the background image to cover the entire container */
    }
    
    #scrollingTextBanner {
        height: 32px;
        width:75%;
        white-space:nowrap;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 5px solid rgb(22, 22, 22);
        border-radius: 25px;
        justify-content: center;
        color: white;
        text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
        overflow: hidden;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    #homeImage {
        background-image: url("../images/homeNav.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:contain; /* Resize the background image to cover the entire container */
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 48%;
    }
    
    #weaponImage {
        background-image: url("../images/weaponImage.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:contain; /* Resize the background image to cover the entire container */
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 48%;
    }
    
    #gearImage {
        background-image: url("../images/gearNav.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:contain; /* Resize the background image to cover the entire container */
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 48%;
    }
    
    #paImage {
        background-image: url("../images/paNav.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:contain; /* Resize the background image to cover the entire container */
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 48%;
    }
  }

  @media (min-width: 481px) and (max-width: 768px) {
    /* For tablets: */
    .flexContainer {
        width: 500px;
        justify-content: center;
        align-items: center;
    }

    .flexNav {
        height: 210px;
        max-width: 490px;
        display: grid;
        overflow:hidden;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-row-gap: 60px;
        grid-template-areas:
          "bannerArea bannerArea bannerArea bannerArea"
          "homeIcon armsIcon gearIcon paIcon";
        border: solid 3px black;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }
    
    #mainHeader {
      font-size: 36px;
    }

    #titleBanner {
        display: none;
    }

    .bannerArea {
        margin-bottom: 5px;
    }

    #mobileBanner {
        display: block;
        width: 490px;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain; /* Resize the background image to cover the entire container */
    }

    /* Shop area */
    .mainBody {
        background:url("../images/mainBack.jpg");
        background-color: #070707; /* Used if the image is unavailable */
        height: 700px; /* You must set a specified height */
        width: 490px;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        border: solid 3px black;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    
    .shop {  
        display: grid;
        justify-items: center;
        align-items: center;
        height: 400px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 0.3fr 0.3fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "arms"
          "gear"
          "pas"
          "registration"
          "faqs";
      }
      
    .registration {
        justify-self: center;
        align-self: center;
        grid-area: registration;
    }
      
    .faqs {
        justify-self: center;
        align-self: center;
        grid-area: faqs;
    }
      
    .weaponTitle {
        display: none;
    }
    
    #weapons:hover .weaponTitle {
        display: block;
    }
    
    #weapons {
        grid-area: arms;
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 175px;
        height: 175px;
        border: 3px solid red;
        border-radius: 15px;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        background-image: url("../images/weaponMenu.jpg");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:cover; /* Resize the background image to cover the entire container */
    }
    
    .gearTitle {
        display: none;
    }
    
    #gear:hover .gearTitle {
        display: block;
    }
    
    #gear {
        grid-area: gear;
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 175px;
        height: 175px;
        border: 3px solid red;
        border-radius: 15px;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        background-image: url("../images/gearMenu.jpg");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:cover; /* Resize the background image to cover the entire container */}
    
    .paTitle {
        display: none;
    }
     
    #personalAssistants:hover .paTitle {
        display: block;
    }
    
    #personalAssistants {
        grid-area: pas;
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 175px;
        height: 175px;
        border: 3px solid red;
        border-radius: 15px;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        background-image: url("../images/paMenu.jpg");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:cover; /* Resize the background image to cover the entire container */
    }
    
    #scrollingTextBanner {
        height: 32px;
        width:75%;
        white-space:nowrap;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 5px solid rgb(22, 22, 22);
        border-radius: 25px;
        justify-content: center;
        color: white;
        text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
        overflow: hidden;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    
    #homeImage {
        background-image: url("../images/homeNav.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:contain; /* Resize the background image to cover the entire container */
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 86%;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    #weaponImage {
        background-image: url("../images/weaponImage.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:contain; /* Resize the background image to cover the entire container */
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 86%;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    #gearImage {
        background-image: url("../images/gearNav.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:contain; /* Resize the background image to cover the entire container */
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 86%;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    #paImage {
        background-image: url("../images/paNav.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:contain; /* Resize the background image to cover the entire container */
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 86%;
        margin-right: 10px;
        margin-left: 10px;
    }

  @media only screen and (min-width: 768px) {
    .flexContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.1 1.9fr 1fr;
        grid-template-areas: 
        "advert flexNav advert2"
        "advert scrollingTextBanner advert2"
        "advert mainBody advert2"
        "footer footer footer";
        gap: 10px 10px;
        width: 100%;
        max-width: 2200px;
        place-items: center;
        background: rgb(228,4,20);
        background: radial-gradient(circle, rgba(228,4,20,1) 0%, rgba(148,187,233,1) 100%);
        justify-content: center;
        align-items: center;
    }

    .flexNav {
        grid-area: flexNav;
        height: 210px;
        max-width: 490px;
        display: grid;
        overflow:hidden;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-row-gap: 60px;
        grid-template-areas:
          "bannerArea bannerArea bannerArea bannerArea"
          "homeIcon armsIcon gearIcon paIcon";
        border: solid 3px black;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }
    
    #mainHeader {
      font-size: 36px;
    }

    #titleBanner {
        display: none;
    }

    .bannerArea {
        margin-bottom: 5px;
    }

    #mobileBanner {
        display: block;
        width: 490px;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain; /* Resize the background image to cover the entire container */
    }

    /* Advertisements */
    .advert {
        grid-area: advert;
        width: 500px;
        height: 500px;
        border: solid 3px black;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    /* Advertisements */
    .advert2 {
        grid-area: advert2;
        width: 500px;
        height: 500px;
        border: solid 3px black;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    /* Shop area */
    .mainBody {
        grid-area: mainBody;
        background:url("../images/mainBack.jpg");
        background-color: #070707; /* Used if the image is unavailable */
        height: 700px; /* You must set a specified height */
        width: 490px;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        border: solid 3px black;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    
    .shop {
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    #weapons {
        margin: 0;
        margin-bottom: 1em;
    }

    #gear {
        margin: 0;
        margin-bottom: 1em;
    }

    #personalAssistants {
        margin: 0;
    }

    #scrollingTextBanner {
        grid-area: scrollingTextBanner;
        height: 32px;
        width:75%;
        white-space:nowrap;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 5px solid rgb(22, 22, 22);
        border-radius: 25px;
        justify-content: center;
        color: white;
        text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
        overflow: hidden;
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    
    #homeImage {
        background-image: url("../images/homeNav.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:contain; /* Resize the background image to cover the entire container */
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 86%;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    #weaponImage {
        background-image: url("../images/weaponImage.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:contain; /* Resize the background image to cover the entire container */
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 86%;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    #gearImage {
        background-image: url("../images/gearNav.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:contain; /* Resize the background image to cover the entire container */
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 86%;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    #paImage {
        background-image: url("../images/paNav.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:contain; /* Resize the background image to cover the entire container */
        box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        border-radius: 86%;
        margin-right: 10px;
        margin-left: 10px;
    }
  }

}