@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.flexNav {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

#mainHeader {
    height: auto;
    margin: auto;
    font-family: 'Audiowide', cursive, 'Times New Roman', Times, serif;
    color: azure;
    font-size: 4em;
    text-shadow: .1ex .1ex darkred;
}

.topnav {
    height: auto;
    margin: auto;
    margin-bottom: 2em;
    word-spacing: 25px;
}

.topnav a {
    color: red;
    font-family: 'Audiowide', cursive, 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    text-shadow: .09ex .09ex azure;
}

#scroll-container {
    height: 32px;
    width:75%;
    margin: auto;
    border: 5px solid rgb(247, 243, 243);
    border-radius: 25px;
    justify-content: center;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
    overflow: hidden;
  }
  
  #scroll-text {
    padding-top: .3em;
    text-align: center;
    margin: 0;

    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}
.fullPage {
    display: flex;
    flex-direction: column;
    min-height: calc(75vh - 50px);
}

.mainBody {
    background:url("../images/mainBack.jpg");
    background-color: #070707; /* Used if the image is unavailable */
    height: 400px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;
    justify-content: center;
    position: absolute; /*Can also be `fixed`*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    border: solid 6px whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.shop {
    margin-top: 25px;
    display:flex;
    flex-direction: row;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    position: relative;
}

#weaponTitle {
    display: none;
    padding-top: 25px;
    color: aliceblue;
    width:200px;
    height: 200px;
    margin:auto;
    z-index: 2;
}

#weapons:hover #weaponTitle {
    display: block;
    box-shadow: 0 5px 35px 0px rgba(237, 82, 103, 0.7);
}
  
#weapons:hover::before, #weapons:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(251, 30, 30, 0.4);
    border-radius: 75px;
    z-index: 1;
    animation: 1s clockwise infinite;
    padding: 1em 1em;
}
  
#weapons:hover:after {
    background: rgba(223, 1, 1, 0.3);
    animation: 2s counterclockwise infinite;
}
  
@keyframes clockwise {
    0% {
        top: -5px;
        left: 0;
    }
    12% {
        top: -2px;
        left: 2px;
    }
    25% {
        top: 0;
        left: 5px;    
    }
    37% {
        top: 2px;
        left: 2px;
    }
    50% {
        top: 5px;
        left: 0;    
    }
    62% {
        top: 2px;
        left: -2px;
    }
    75% {
        top: 0;
        left: -5px;
    }
    87% {
        top: -2px;
        left: -2px;
    }
    100% {
        top: -5px;
        left: 0;    
    }
}

@keyframes counterclockwise {
    0% {
        top: -5px;
        right: 0;
    }
    12% {
        top: -2px;
        right: 2px;
    }
    25% {
        top: 0;
        right: 5px;    
    }
    37% {
        top: 2px;
        right: 2px;
    }
    50% {
        top: 5px;
        right: 0;    
    }
    62% {
        top: 2px;
        right: -2px;
    }
    75% {
        top: 0;
        right: -5px;
    }
    87% {
        top: -2px;
        right: -2px;
    }
    100% {
        top: -5px;
        right: 0;    
    }
}

#weapons {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 15px;
    padding: 1rem 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-image: url("../images/weaponMenu.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover; /* Resize the background image to cover the entire container */
}

.shop a {
    text-decoration: none;
}

#gear {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 15px;
    padding: 1rem 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-left: 10px;
    background-image: url("../images/gearMenu.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover; /* Resize the background image to cover the entire container */
}

#personalAssistants {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 15px;
    padding: 1rem 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-left: 10px;
    background-image: url("../images/paMenu.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover; /* Resize the background image to cover the entire container */
}

#footerbottom {
    text-align: center;
}

/* For mobile phones: */
@media (max-width: 480px) {
    .flexNav {
        line-height: 80%;
        padding-top: 10%;
    }
    
    #mainHeader {
      font-size: 36px;
    }

    .topnav a {
        display: flex;
        flex-direction: column;
        font-size: 125%;
        line-height: 110%;
    }
  }

  @media only screen and (min-width: 481px) {
    /* For tablets: */
    .flexNav {
        height: 175px;
        padding-top: 20px;
        line-height: 80px;
    }

    #mainHeader {
      font-size: 36px;
    }

    .topnav a {
        font-size: 145%;
    
  }
/*
  @media only screen and (min-width: 768px) {

  }
*/
  }