@font-face {
    font-family: 'amaranth';
    src: url('../fonts/amaranth-regular-webfont.woff') format('woff'),
         url('../fonts/amaranth-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html { 
    background: linear-gradient(0deg, rgba(230,230,222,1) 0%, rgba(0,255,234,1) 24%, rgba(0,102,153,1) 51%, rgba(0,0,8,1) 89%) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body{
	font-family: 'amaranth', "Times New Roman", serif;
}

#fullPageDiv{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:column;  
    align-items:center;
    padding: 20px;
}

#topper {
    clear: left;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 700px;
    height: 100px;
    background-image: url("../image/circuitboard.jpg");
}

#main_container {
    text-align: center;
    clear: left;
    width:700px;
    height: 575px;
    margin-top:5px;
    background: aliceblue;
}

#we {
    padding-bottom: 0px;
}

#pe {
    padding-bottom: 0px;
}

.ce {
    clear: left;
    width: 700px;
    display:flex;
    flex-direction:row;  
    justify-content: center;
}

#ex1{
    clear: left;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-image: url("../image/gemfyre.jpg");
    background-size: cover;
}

#ex2{
    clear: left;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-image: url("../image/soth.jpg");
    background-size: cover;
}

#ex3{
    clear: left;
    width: 175px;
    height: 175px;
    margin: 10px;
}

#footerbottom {
    clear: left;
    text-align: center;
    margin-top:10px;
    padding: 10px;
    width: 680px;
    height: 20px;
}

.border {
    float: left;
    border:5px solid;
    border-radius: 15px;
    width:200px;
    height:500px;
    color: rgb(16, 96, 109);
}

h1 {
    color: aliceblue;
    text-align: center;
}

h2{
    font-size: 30px;
    font-family: 'amaranth';
    text-transform:uppercase;
    text-align: center;
    color:#666666;
}

.pe ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
    padding-top: 10px;
}

.nav__links {
    list-style: None;
    text-align:center;
}

.nav__links li {
    display: inline-block;
    padding: 10px 40px;
}

.nav__links li a {
    font-weight: bold;
    font-size:16px;
    color: #19f415;
    text-decoration:None;
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}
.xpList ul {
    margin: 0;
    padding: 0;
}

.xpList li {
    margin: 0;
    padding: 2px;
    list-style-type: none;
    text-align: center;
}

.ce a.button{
    display: block;
    width: 40%;
    margin: 10px auto;
    color:azure;
    background: #0088a9;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    padding:10px;

}
