

.shopMiddle {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#faqs {
    font-family: Arial, Helvetica, sans-serif;
    background:url("../images/registerBack.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; 
    background-size: cover;
    background-clip: border-box;
    object-fit: contain;
    overflow: hidden;
    width: 80%;
    height: 80%;
    border: solid 3px black;
    border-radius: 25px;
    padding: .5em 2em 1em;
    box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#faqs h1 { 
	font-size: 3em;
	color: rgb(255, 0, 0);
    text-align: center;
}

#accordion h3 {
    font-size: 120%;
    padding: .25em 0 .25em 25px;
    color: rgb(5, 232, 54);
    cursor: pointer;
}

#accordion p {
    font-size: 120%;
    padding: .25em 0 .25em 25px;
    color: rgb(232, 5, 5);
    cursor: pointer;
}

#accordion div {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

