.shopMiddle {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.popup {
    font-family: Arial, Helvetica, sans-serif;
    background:url("../images/registerBack.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-clip: border-box;
    object-fit: contain;
    overflow: hidden;
    width: 75%;
    height: auto;
    border: solid 3px black;
    border-radius: 25px;
    padding: .5em 2em 1em;
    box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.confirmed {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    background:url("../images/registerBack.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-clip: border-box;
    object-fit: contain;
    overflow: hidden;
    width: 75%;
    height: auto;
    border: solid 3px black;
    border-radius: 25px;
    padding: .5em 2em 1em;
    box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.hidden {
    display: none;
}

#thankYouImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 4em;
}

#thankYouRobot {
    display: inline-block;
    align-self: center;
    width: 10-0%;
    height: 100%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    
}

#rowFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#homeButton {
    width: 75px;
    border-radius: 25px;
    border: 3px solid darkred;
    margin-right: 1em;
    box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#homeButton:hover {
    width: 75px;
    border-radius: 25px;
    color: white;
    background-color: black;
    border: 3px solid darkred;
    margin-right: 1em;
    box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

h1 {
    text-align: center;
    color: rgb(247, 247, 248);
}

div {
    margin-bottom: 1em;
}

.organize {
    display: flex;
    justify-content: left;
}

#radios label {
    display:flex;
}

#chkBox label {
    display:flex;
}

p {
    color: white;
    text-align: center;
}
label {
    display: inline-block;
    width: 11em;
    text-align: right;
    vertical-align: top;
    color: white;
}

#navSelect {
    text-align: left;
    color: black;
}

input, textarea {
    margin-left: 1em;
    margin-right: 0.5em;
}

#country { 
    width: 13em; 
    margin-left: 1em;
    margin-right: 0.5em;
}

textarea {
    height: 5em;
    width: 20em;
}

#textBox {
display: flex;
}

span {
    color: red;
    vertical-align: top;
}

.messages {
    border: 3px solid red;
    color: red;
    padding: 2em;
    margin-bottom: 2em;
}

#register, #reset_form {
    border-radius: 15px;
    box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.regButton:hover {
    background-color: crimson;
}