.fullHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

h2 {
    text-align: center;
}

#register {
    display: none;
}

#faqs {
    display: none;
}

#confirmed {
    display: none;
}

.shopWrapper {
    display: flex;
    flex-direction: column;
}

.shopMain {
    /* Take the remaining height */
    flex-grow: 1;

    /* Layout the left sidebar, main content and right sidebar */
    display: flex;
    flex-direction: row;
}

.shopLeft {
    justify-content: center;
    width: 25%;
}

fieldset {
    width: 80%;
    margin-left: 1em;
    border-radius: 15px;
}

select {
    width: 100%;
}

.shopMiddle {
    display: flex;
    /* Take the remaining width */
    flex-grow: 1;
    justify-content: center;
}

.shopRight {
    width: 20%;
}

.my-slider {
    width: 100%;
    height: auto !important;
    border: solid 2px black;
    margin-left: 1rem;
}

.my-slider div img {
    width: 100%;
    height: auto !important;
    border: black 2px solid;
   }

.item {
    display:flex;
	float:left;
	width:90%;
	padding:15px;
	height:auto;
	border:1px solid #b3b3b3;
	background-color:#8f8383;
	border-radius:10px;
    justify-content: center;
}

.item div {
	background:#ddd;
	width:99%;
	height:99%;
	color:white;
	color:#b3b3b3;
	text-align:center;
	line-height: 162px;
	font-size:60px;
	border-radius:5px;
	border:1px solid #b3b3b3;
}

#container {
    width: 100%;
    border: 3px black solid;
    border-radius: 15px;
    object-fit: contain;
    overflow: hidden;
  }

.advertAside2 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 4rem;
}

.advertAside2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(63, 63, 77, 0.664) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.footer {
    text-align: center;
}